@model List<SPA_BOOKING_SYSTEM.Models.Table_Manicure_Female>

@{
    ViewBag.Title = "DisplayServices";
}

<div style="font-family:Algerian">

    <h2>Displaying the types of Manicure (Female)</h2>

    <h4>Choose your own type</h4>
</div>
<div>
    <hr />

    <table>

        @foreach (var item in Model)
        {
            <tr>
                <td><h2 style="font-size:120%;"> <b>@item.TYPES </b></h2></td>
                <td> @Html.ActionLink("Add to Cart", "CartList", new { name = item.TYPES }) </td>
            </tr>
            <tr>
                <td><b>&nbsp;Rs </b> @item.COST/-</td>
            </tr>
            <tr>
                <td><b>&nbsp;Item Used: </b> @item.ITEM</td>
            </tr>
        }

        <tr>
            <td><h2 style="font-size:120%;"> <b>General Procedure: </b></h2><h2 style="font-size:130%;"> Starts with cleaning the nail,removing the polish,shaping the nails,cuticle care technique,oil and buff and then exfoliating. </h2></td>
        </tr>

    </table>
</div>

<br />
<br />
<div style="font-family:'Times New Roman'">
    <style>
        .btn {
            padding: 10px 25px;
            color: black;
            text-align: center;
            cursor: pointer;
            font-size: 20px;
            margin: 9px 5px;
        }

        .button1 {
            background-color: papayawhip;
            color: black;
            border: 4px solid #000000;
        }
    </style>

    <button class="btn button1">
        <b>
            @Html.ActionLink("Proceed for Appointment", "Slot")
        </b>
    </button>

</div>

